<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <!--...-->
  <h1> Welcome to MyMDB </h1>
  <form action="/movies" method="POST">
    <input type="text" placeholder="title" name="title">
    <button type="submit">Submit</button>
  </form>
  <h2> Movies </h2>
  <ul class="movies">
    <% for(var i = 0; i < movies.length; i++) {%>
        <li class="movie">
          <!-- Output title from the iterated movie object -->
          <span><%= movies[i].title %></span>
        </li>
      <% } %>
  </ul>
  <div>
    <h2>First Movie Title</h2>
    <p>Replace Parasite movie title with Midsommar</p>
    <button id="update-button">Replace Title</button>
  </div>
  <div>
    <h2>Remove Parasite</h2>
    <p>
      Delete one instance of the movie Parasite. Does nothing if Parasite doesn't exist.
    </p>
    <button id="delete-button">Delete Parasite</button>
  </div>
  <div id="message"></div>
  <script src="/main.js"></script>
</body>
</html>